<!-- portfolio/templates/portfolio/projects.html -->
{% extends "portfolio/base_generic.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/projects_styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Projects</h1>

        <!-- Search form -->
        <form method="GET" action="">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search by technology" name="q" value="{{ request.GET.q }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>

        <!-- Project list -->
        <div class="row">
            {% for project in projects %}
            <div class="col-12 mb-3"><!-- This will make the card 4 columns wide on large screens, 6 on medium screens, and 12 (full width) on small screens -->
                <div class="card mb-3">
                    <img class="card-img-top" src="{{ project.image.url }}" alt="{{ project.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title|truncatechars:30 }}</h5> <!-- Truncate the title here -->
                        <p class="card-text">{{ project.description|truncatechars:100 }}</p> <!-- Use the truncatechars filter here -->
                        
                        <!-- Display other project details -->
                        <p>Completion date: {{ project.completion_date }}</p>
                        <p>Difficulty level: {{ project.difficulty_level }}</p>
                        <p>Status: {{ project.status }}</p>

                        <!-- Display the tags for the project -->
                        <p>Tags: {{ project.tags }}</p>


                        <!-- Display the technologies used in the project -->
                        <p>Technologies:</p>
                        {% for technology in project.technologies.all %}
                            <a href="{{ technology.website }}" class="btn btn-outline-secondary" target="_blank">
                                <img src="{{ technology.logo.url }}" alt="{{ technology.name }}" width="20" height="20">
                                {{ technology.name }}
                            </a>
                        {% endfor %}
<hr>
                        <a href="{{ project.url }}" target="_blank">
                            <div class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </div>
                        </a>
                        <a href="{{ project.live_url }}" target="_blank">
                            <div class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-globe fa-stack-1x fa-inverse"></i>
                            </div>
                        </a>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
