<!-- constantin_et/blog/templates/blog/blog_detail.html -->

{% extends "portfolio/base_generic.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/blog_detail_styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ object.title }}</h2>
                <h6 class="card-subtitle mb-2 text-muted">By {{ object.author }} on {{ object.date_posted }}</h6>
                <p class="card-text">{{ object.content }}</p>
                <a class="btn btn-info" href="{% url 'blog-home' %}">Back to Blog</a>
                {% if object.author == user %}
                <div class="mt-3">
                    <a class="btn btn-secondary" href="{% url 'blog-update' object.id %}">Update</a>
                    <a class="btn btn-danger" href="{% url 'blog-delete' object.id %}">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
